name: Publish a Docker image to Github and DockerHub

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up GraalVM JDK 25
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'

      - name: Check Java Version
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version

      - name: Create Native Container Image with GraalVM and Maven
        run: chmod +x mvnw && ./mvnw clean -Pnative spring-boot:build-image -DskipTests --file pom.xml --batch-mode --update-snapshots

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: push to dockerhub
        run: docker push deepaksorthiya/spring-boot-security-angular-client-csrf:latest

      - name: push to github
        run: |
          docker tag deepaksorthiya/spring-boot-security-angular-client-csrf:latest ${{ env.REGISTRY }}/deepaksorthiya/spring-boot-security-angular-client-csrf:latest
          docker push ${{ env.REGISTRY }}/deepaksorthiya/spring-boot-security-angular-client-csrf:latest